<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Form Input Template</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <!--<script src="../static/js/popper.min.js"></script>-->
  </head>
  <body>
    <div id="banner" class="container">
      <h1 class="display-4">Inkling or Octoling</h1>
    </div>
    <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
          <label for="input_name">Enter your name, child</label>
          <input type="text" class="form-control" name="input_name"  id="input_name" placeholder="Jakeria Paige">
        </div>
        <div class="form-group">
          <label for="Weapon Choice">Choose your weapon</label>
          <select class="form-control" name="input_dropdown" id="input_dropdown">
            <option>Blaster</option>
            <option>Roller</option>
            <option>Charger</option>
            <option>Splattershot</option>
            <option>BAMBOOZLER</option>
          </select>
        </div>
        <div class="form-group">
          <label for="Kid or Squid">Kid or Squid</label>
            <select class="form-control" name="input_dropdown" id="input_dropdown">
            <option>Kid</option>
            <option>Squid</option>
          </select>
        </div>
        <div class="form-group">
          <label for="Sounds">Choose your quote</label>
          <select multiple class="form-control" name="input_select" id="input_select">
            <option>Woomy</option>
            <option>Ngyes</option>
            <option>Oomi</option>
            <option>Veemo</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container">
      <br />
      {% if output %} {{ output }} {% endif %}
    </div>
  </body>
</html>

